
{% extends "AcmeWebUIBundle::layouts/accountbase.html.twig" %}

{% block content %}

   {{ form_start(edit_form) }}

      <div class="cont">
		<div class="new_form">
	 
			<label for="form_title" class="lab">title</label>
			{{ form_widget( edit_form.title,{'attr': {'class': 'inp'}} ) }}

	      	<label for="form_photo" class="lab">photo</label>
		  	{{ form_widget( edit_form.photo,{'attr': {'class': 'inp'}} ) }}

            <label for="form_duration" class="lab">duration</label>
	        {{ form_widget( edit_form.duration,{'attr': {'class': 'inp'}} ) }}

	        <label for="form_tcVideoUrl" class="lab">tcVideoUrl</label>
            {{ form_widget( edit_form.tcVideoUrl,{'attr': {'class': 'inp'}} ) }}

        </div>
      </div>
       <input type="submit" value="修改" style="margin-left:270px;margin-top:20px;width:100px;height:30px;">
   {{ form_end(edit_form) }}

 
{% endblock %}



























