<p>
	Edit
</p>

{{ form_start(edit_form) }}

	{{ form_row( edit_form.devDesc ) }}
	{{ form_widget( edit_form.devDesc ) }}

	{{ form_widget( edit_form.devDesc ) }}
	{{ form_widget( edit_form.devDesc ) }}
{{ form_end(edit_form) }}

{{ form_start(delete_form) }}
	{{ form_widget( delete_form ) }}	
	<input type="submit" value="删除" />
{{ form_end(delete_form) }}