{% extends "AcmeWebUIBundle::layouts/person.html.twig" %}

{% block content %}

    <div class="personn">
         
         <h4>基本资料</h4>
         <table border=1 class="bor" style="margin-left:10px;"> 
            
          <thead>
             <tr>
                <th></th>         
                <th>ID</th>
                <th>用户名</th>
                <th>密码</th>
                <th>电话</th>
                <th>邮箱</th>      
                <th>设备ID</th>
                <th>操作</th>
             </tr>  
          </thead> 

          <tbody>       
         
             <tr> 
               <th>
                   <input type="checkbox" style="width:15px;height:15px;">
                    </th>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.mobile }}</td>
                    <td>{{ user.email }}</td>  
                    <td>{{ user.camerauser ? user.camerauser.devid : ''}}</td>
                    <td>
                      <a href=" {{ path('user_person_path', { id : user.id })  }} ">修改</a> 
                    </td>
                 </tr>
    
            </tbody>
            
         </table>
  </div>

{% endblock %}