{% extends "AcmeWebUIBundle::layouts/accountbase.html.twig" %}
{% block content %}

   <div class="admin-content">
        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">账号信息详情</strong></div>
        </div>
    <table border=1 class="bor" style="margin-left:10px;"> 
             <tr>
                <th></th>         
                <th>ID</th>
                <th>用户名</th>
                <th>密码</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>头像</th>
                <th>昵称</th>
                <th>手机绑定</th>
                <th>账号绑定</th>
                <th>学币数量</th>
                <th>余额</th>
                <th>操作</th>
             </tr>

        
                {% for user in users %}

	                 <tr> 
	                    <td>
	                       <input type="checkbox" style="width:15px;height:15px;">
	                    </td>
	                    <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.account ? user.account.photo : "" }}</td>
                        <td>{{ user.account ? user.account.name : "" }}</td>
                        <td>{{ user.account ? user.account.phonenumber : "" }}</td>
                        <td>{{ user.account ? user.account.othernumber : "" }}</td>
                        <td>{{ user.coin ? user.coin.number : "" }}</td>
                        <td>{{ user.coin ? user.coin.balance : "" }}</td>
	                    <td>

	                      <a href=" {{ path('user_edit_path', { id : user.id })  }} ">
	                      <img src="/assets/images/pc/8.png" style="width:10px;height:10px;">
                          <span style="font-size:10px;">修改用户</span>
                          </a> <br>

                          <a href=" {{ path('account_edit_path', { id : user.id })  }} ">
                          <img src="/assets/images/pc/8.png" style="width:10px;height:10px;">
                          <span style="font-size:10px;">修改账户</span>
                          </a> <br>
                      
                            <a href=" {{ path('coin_edit_path', { id : user.id })  }} ">
                            <img src="/assets/images/pc/8.png" style="width:10px;height:10px;">
                            <span style="font-size:10px;">修改金额</span>
                            </a> 
                          <br>

	                    </td>
	                 </tr>
      
             {% endfor %}

         </table>

{% endblock %}
