{% extends "AcmeWebUIBundle::layouts/homebase.html.twig" %}

{% block title %}学考通，让学习考试更轻松 课程{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/pc/cui.css" />
    <link rel="stylesheet" href="assets/css/pc/lib.css" />
    <link rel="stylesheet" href="assets/css/pc/style.css" />
    <link rel="stylesheet" href="assets/css/pc/jquery.fancybox.css">
{% endblock %}

{% block content %}

  <div class="h40"></div>

  <div id="bd">
    <div class="wp">
      <div class="tea-header">
        <table>
          <tbody>
            <tr>
              <th width="80">分类:</th>
              <td width="70"><span class="active">不限</span></td>
              <td>
                <a href="">一级建造师</a>
                <a href="">二级建造师</a>
                <a href="">注册造价师</a>
                <a href="">注册结构师</a>
                <a href="">注册监理师</a>
                <a href="">一级消防工程师</a>
                <a href="">二级消防工程师</a>
                <a href="">注册电气工程师</a>
                <a href="">建筑八大员</a>
                <a href="">物业管理师</a>
              </td>
            </tr>
            <tr>
              <th>课程 :</th>
              <td><span class="active">不限</span></td>
              <td>
                <a href="">建设工程经济</a>
                <a href="">建设工程项目管理</a>
                <a href="">建设工程法规及相关知识</a>
              </td>
            </tr>
            <tr>
              <th width='80'>价格 : </th>
              <td width='70'><span class="active">不限</span></td>
              <td>
                <a href="">&yen;0-50</a>
                <a href="">&yen;50-100</a>
                <a href="">&yen;100-500</a>
                <a href="">&yen;500-1000</a>
                <a href="">&yen;1000-2500</a>
                <a href="">&yen;2500以上</a>
                <div class="price-y">
                  <form action="">
                    自定义价格 <input type="text" name=""> - <input type="text" name=""> <input type="submit" value="确定" class="price-btn">
                  </form>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="filter_tit">
        <form action="">
        <span class="num">找到课程</span>
        <div class="order">
          <a href="" class="on">综合排序</a>
          <a href="">人气最高</a>
          <a href="">经验排序</a>
        </div>
        <label class="course-check">
          <input type="checkbox">只看免费
        </label>
        </form>
      </div>
      
      <ul class="course-list">
        {% for list in courseArray %}
          {% for item in list %}
            <li>
              <div class="pic">
                <a href="http://xuekaotong.net/kecheng/detail_{{ item.id }}"><img src="{{ item.coursePhoto }}" alt=""></a>
              </div>
              <span class="price">{{ item.price }}</span>
              <div class="txt">
                <h4><a href="http://xuekaotong.net/kecheng/detail_{{ item.id }}">{{ item.title }}</a></h4>
                <div class="det">
                </div>
                <div class="info"><span>主讲: {{ item.teacher }}</span><span>课时数：{{ item.contentCount }}</span><span></span><span></span></div>
              </div>
            </li>
          {% endfor %}          
        {% endfor %}
        <!-- <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <span class="price">&yen125.00</span>
          <div class="txt">
            <h4><a href="">2015年一级建造师市政工程精讲课</a></h4>
            <div class="det">2015年一级建造师市政工程精讲课 镇道路工程结构与材料，城镇道路路基施工，城镇道路基层施工，城镇道路面城镇道路路基施工工城镇道路面层施工,城市桥梁结构形式及通用施工技术</div>
            <div class="info"><span>主讲：甘森</span><span>课时数：20</span><span>时长：199分钟</span><span>139人正在学习</span></div>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <span class="price">&yen125.00</span>
          <div class="txt">
            <h4><a href="">2015年一级建造师市政工程精讲课</a></h4>
            <div class="det">2015年一级建造师市政工程精讲课 镇道路工程结构与材料，城镇道路路基施工，城镇道路基层施工，城镇道路面城镇道路路基施工工城镇道路面层施工,城市桥梁结构形式及通用施工技术</div>
            <div class="info"><span>主讲：甘森</span><span>课时数：20</span><span>时长：199分钟</span><span>139人正在学习</span></div>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <span class="price">&yen125.00</span>
          <div class="txt">
            <h4><a href="">2015年一级建造师市政工程精讲课</a></h4>
            <div class="det">2015年一级建造师市政工程精讲课 镇道路工程结构与材料，城镇道路路基施工，城镇道路基层施工，城镇道路面城镇道路路基施工工城镇道路面层施工,城市桥梁结构形式及通用施工技术</div>
            <div class="info"><span>主讲：甘森</span><span>课时数：20</span><span>时长：199分钟</span><span>139人正在学习</span></div>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <span class="price free">免费</span>
          <div class="txt">
            <h4><a href="">2015年一级建造师市政工程精讲课</a></h4>
            <div class="det">2015年一级建造师市政工程精讲课 镇道路工程结构与材料，城镇道路路基施工，城镇道路基层施工，城镇道路面城镇道路路基施工工城镇道路面层施工,城市桥梁结构形式及通用施工技术</div>
            <div class="info"><span>主讲：甘森</span><span>课时数：20</span><span>时长：199分钟</span><span>139人正在学习</span></div>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <span class="price free">免费</span>
          <div class="txt">
            <h4><a href="">2015年一级建造师市政工程精讲课</a></h4>
            <div class="det">2015年一级建造师市政工程精讲课 镇道路工程结构与材料，城镇道路路基施工，城镇道路基层施工，城镇道路面城镇道路路基施工工城镇道路面层施工,城市桥梁结构形式及通用施工技术</div>
            <div class="info"><span>主讲：甘森</span><span>课时数：20</span><span>时长：199分钟</span><span>139人正在学习</span></div>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <span class="price free">免费</span>
          <div class="txt">
            <h4><a href="">2015年一级建造师市政工程精讲课</a></h4>
            <div class="det">2015年一级建造师市政工程精讲课 镇道路工程结构与材料，城镇道路路基施工，城镇道路基层施工，城镇道路面城镇道路路基施工工城镇道路面层施工,城市桥梁结构形式及通用施工技术</div>
            <div class="info"><span>主讲：甘森</span><span>课时数：20</span><span>时长：199分钟</span><span>139人正在学习</span></div>
          </div>
        </li> -->
      </ul>
      <div class="h40"></div>

      <!-- 分页 -->
    <!--   <div class="page">
        <ul>
          <li><a href="javascript:void(0);" class="prev">&lt;</a></li>
          <li class="on"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li>...</li>
          <li><a href="">798</a></li>
          <li><a href="javascript:void(0);" class="next">&gt;</a></li>
        </ul>
      </div> -->
    </div>
  </div>

{% endblock %}

{% block footer %}

      <div id="fd">
    <div class="wp">
      <div class="ftop">
       <div class="fnav">
          <dl class="fm1">
            <dt><a href="">关于我们</a></dt>
        
              {% for friendly in friendlys %}
                  <dd><a href="{{ friendly.link }}"> {{ friendly.title }} </a></dd>                 
              {% endfor %}
            
           {#} <dd><a href="">加入我们</a></dd>
            <dd><a href="">联系我们</a></dd>#}
          </dl>
          <dl class="fm1">
            <dt><a href="">学习资讯</a></dt>

            {% for learn in learns %}
                <dd><a href="{{ learn.link }}">{{ learn.title }}</a></dd>
            {% endfor %}
            {#<dd><a href="">就业指南</a></dd>
            <dd><a href="">认证考证</a></dd>#}
          </dl>
          <dl class="fm1">
            <dt><a href="">帮助中心</a></dt>

            {% for help in helps %}
              <dd><a href="{{ help.link }}">{{ help.title }}</a></dd>
            {% endfor %}
            {#
            <dd><a href="">积分规则</a></dd>#}
          </dl>
          <dl class="fm1">
            <dt><a href="">合作加盟</a></dt>

            {% for partner in partners %}
                <dd><a href="{{ partner.link }}">{{ partner.title }}</a></dd>
            {% endfor %}
           {#} <dd><a href="">渠道加盟</a></dd>
            <dd><a href="">名师加盟</a></dd>#}
          </dl>
          <dl class="fm1">
            <dt><a href="">下载中心</a></dt>

            {% for down in downs %}
               <dd><a href="{{ down.link }}">{{ down.title }}</a></dd>
            {% endfor %}
           {#} <dd><a href="">表情包</a></dd>
            <dd><a href="">桌面壁纸</a></dd>#}
          </dl>
        </div>
        <div class="fdr">
          <div class="ftel">400-029-3003</div>
          每天 9:30 - 23:30 (仅收市话费)
          <div class="flink">
            <a href=""><img src="assets/images/pc/fico1.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico2.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico3.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico4.png" alt=""></a>
          </div>
        </div>
      </div>
      <div class="fcopy">
        Copyright@2008-2038中建瑞通版权所有京ICP备15000560号-1 京ICP证080808号
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}

  <script src="assets/js/pc/jquery.js"></script>
  <script src="assets/js/pc/lib.js"></script>
  <script src="assets/js/pc/jquery.fancybox.pack.js"></script>

{% endblock %}

{% block script %}
   
      <script>
  $(document).ready(function() {
    // 登陆注册-弹出
    $('.login-fancybox').fancybox({
      padding:0,
        width:460,
        height:328
    });
    $('.reg-fancybox').fancybox({
      padding:0,
        width:460,
        height:629
    });
  });
  </script>

{% endblock %}