{% extends "AcmeWebUIBundle::layouts/homebase.html.twig" %}

{% block content %}
  <div id="banner">
    <div class="slider">
      <div class="bd">
      
        <ul>  
          {% for picture in pictures %}
          <li><a href=""><img src="assets/images/pc/{{ picture.photo }}" /></a></li>
          {#<li><a href=""><img src="assets/images/pc/banner_2.jpg" /></a></li>
          <li><a href=""><img src="assets/images/pc/banner_3.jpg" /></a></li>
          <li><a href=""><img src="assets/images/pc/banner_4.jpg" /></a></li>
          <li><a href=""><img src="assets/images/pc/banner_5.jpg" /></a></li>
          <li><a href=""><img src="assets/images/pc/banner_6.jpg" /></a></li>#}  
          {% endfor %}
        </ul>
  
      </div>
      <div class="hd">
        <ul></ul>
      </div>
      <div class="pnBtn prev">
        <span class="blackBg"></span>
        <span class="arrow"></span>
      </div>
      <div class="pnBtn next">
        <span class="blackBg"></span>
        <span class="arrow"></span>
      </div>
    </div>
  </div>

  <div id="bd">
    <div class="index-public">
      <div class="wp">
        <h3 class="tit">精品公开课</h3>
        <ul class="ul-list1">
           
          {% for item in courses01 %}
            <li>
              <div class="pic">
                <a href="http://xuekaotong.net/kecheng/detail_{{ item.id }}" target="_black">
                  <img src="{{ item.coursePhoto }}">
                </a>
              </div>
              <div class="txt">
                <h4>
                  <a href="">{{item.title}}</a>
                  <p>
                    主讲: {{ item.teacher }}
                  </p>
                </h4>
              </div>
            </li>
          {% endfor %}
           
        </ul>
      </div>
    </div>

    <div class="index-teacher">
      <div class="wp">
        <h3 class="tit">名师推荐<a href="">更多&gt;</a></h3>
        <div class="slider s-list2">
          {% for item in teachers %}
            <div class="slide">
              <div class="con">
                <a href= 'http://xuekaotong.net/famousTeacherRedirect.do?action=toFamousTeacherDetail&organizationId=8778&teacherId={{ item.id }}' target='blank' class="avatar"><img src="{{ item.photo }}" alt="" style="width:120%"></a>
                <h4>{{ item.name }}</h4>
                <div class="det">{{ item.major }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="h"></div>

    <div class="index-latest">
      <div class="wp">
        <h3 class="tit">最新公开课</h3>
        <ul class="ul-list1">
          {% for item in courses02 %}
            <li>
              <div class="pic">
                <a href="http://xuekaotong.net/kecheng/detail_{{ item.id }}" target="_black">
                  <img src="{{ item.coursePhoto }}">
                </a>
              </div>
              <div class="txt">
                <h4><a href="">{{item.title}}</a>
                  <p>
                    主讲: {{ item.teacher }}
                  </p>
                </h4>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="index-vip">
      <div class="wp">
        <h3 class="tit">VIP课程<a href="">更多&gt;</a></h3>
        <ul class="ul-list1">
          {% for item in courses03 %}
            <li>
              <div class="pic">
                <a href="http://xuekaotong.net/kecheng/detail_{{ item.id }}" target="_black">
                  <img src="{{ item.coursePhoto }}">
                </a>
              </div>
              <div class="txt">
                <h4>
                  <a href="">{{item.title}}</a>
                  <p>
                    主讲: {{ item.teacher }}
                  </p>
                </h4>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="index-partner">
      <div class="wp">
        <ul class="s-list1">
          <li><a href=""><img src="assets/images/pc/flink1.png" alt=""></a></li>
          <li><a href=""><img src="assets/images/pc/flink2.png" alt=""></a></li>
          <li><a href=""><img src="assets/images/pc/flink3.png" alt=""></a></li>
          <li><a href=""><img src="assets/images/pc/flink1.png" alt=""></a></li>
          <li><a href=""><img src="assets/images/pc/flink2.png" alt=""></a></li>
          <li><a href=""><img src="assets/images/pc/flink3.png" alt=""></a></li>
        </ul>
      </div>
    </div>

    <div class="index-help" style="padding: 265px 0 60px;">
      {# <div class="wp">
        <a href="" class="a-android"><span>安卓用户下载</span></a>
        <a href="" class="a-apple"><span>苹果用户下载</span></a>
      </div> #}
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div id="fd">
    <div class="wp">
      <div class="ftop">
        <div class="fnav">
          <dl class="fm1">
            <dt><a href="">关于我们</a></dt>
        
              {% for friendly in friendlys %}
                  <dd><a href="{{ friendly.link }}"> {{ friendly.title }} </a></dd>                 
              {% endfor %}
            
           {#} <dd><a href="">加入我们</a></dd>
            <dd><a href="">联系我们</a></dd>#}
          </dl>
          <dl class="fm1">
            <dt><a href="">学习资讯</a></dt>

            {% for learn in learns %}
                <dd><a href="{{ learn.link }}">{{ learn.title }}</a></dd>
            {% endfor %}
            {#<dd><a href="">就业指南</a></dd>
            <dd><a href="">认证考证</a></dd>#}
          </dl>
          <dl class="fm1">
            <dt><a href="">帮助中心</a></dt>

            {% for help in helps %}
              <dd><a href="{{ help.link }}">{{ help.title }}</a></dd>
            {% endfor %}
            {#
            <dd><a href="">积分规则</a></dd>#}
          </dl>
          <dl class="fm1">
            <dt><a href="">合作加盟</a></dt>

            {% for partner in partners %}
                <dd><a href="{{ partner.link }}">{{ partner.title }}</a></dd>
            {% endfor %}
           {#} <dd><a href="">渠道加盟</a></dd>
            <dd><a href="">名师加盟</a></dd>#}
          </dl>
          <dl class="fm1">
            <dt><a href="">下载中心</a></dt>

            {% for down in downs %}
               <dd><a href="{{ down.link }}">{{ down.title }}</a></dd>
            {% endfor %}
           {#} <dd><a href="">表情包</a></dd>
            <dd><a href="">桌面壁纸</a></dd>#}
          </dl>
        </div>
        <div class="fdr">
          <div class="ftel">400-029-3003</div>
          每天 9:30 - 23:30 (仅收市话费)
          <div class="flink">
            <a href=""><img src="assets/images/pc/fico1.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico2.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico3.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico4.png" alt=""></a>
          </div>
        </div>
      </div>
      <div class="fcopy">
        Copyright@2008-2038中建瑞通版权所有京ICP备15000560号-1 京ICP证080808号
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="assets/js/pc/jquery.js"></script>
  <script src="assets/js/pc/lib.js"></script>

  <link rel="stylesheet" href="assets/css/pc/slick.css">
  <script src="assets/js/pc/slick.min.js"></script>
  <script>
  $(document).ready(function() {
    // 名师推荐滚动
    $('.index-teacher .slider').slick({
      dots:false,
      arrows:true,
      centerMode: true,
      centerPadding: '0',
      slidesToShow: 4,
      lazyLoad: 'ondemand'
    });
    $('.index-teacher .slick-slide').hover(function(){
      $(this).addClass('slick-center');
      $(this).siblings('.slick-slide').removeClass('slick-center');
    });
  });
  </script>

  <script src="assets/js/pc/jquery.SuperSlide.js"></script>
  <script>
  $(document).ready(function() {
    // banner图滚动
    $("#banner .slider .bd li").first().before( $("#banner .slider .bd li").last() );
    $("#banner .slider").slide({titCell:".hd ul",mainCell:".bd ul", effect:"leftLoop",  autoPlay:true, vis:3, autoPage:true, trigger:"click"});
  });
  </script>

  <script src="assets/js/pc/hammer.min.js"></script>
  <script>
      var myElement = document.getElementById('banner');
      var mc = new Hammer(myElement);

      mc.on("panleft panright", function(ev) {
          if( ev.type == 'panleft' ){
              if( !$('#banner .bd ul').is(':animated') ){
                  $('#banner .next').trigger('click');
              }
          }else{
              if( !$('#banner .bd ul').is(':animated') ){
                  $('#banner .prev').trigger('click');
              }
          };
      });
  </script>

  <link rel="stylesheet" href="assets/css/pc/jquery.fancybox.css">
  <script src="assets/js/pc/jquery.fancybox.pack.js"></script>

  <script>
  {#$(document).ready(function() {
    // 登陆注册-弹出
    $('.login-fancybox').fancybox({
        padding:0,
        width:460,
        height:328,
    });

    $('.reg-fancybox').fancybox({
        padding:0,
        width:460,
        height:629
    });
  });#}


   $(function(){
      $(".login-fancybox").click(function(){
      
         $("#frameBox").fadeIn();
        })
       $("#_submit").click(function(){
           $("#frameBox").fadeOut();
         window.location.reload()
       })
    
    })
    


  </script>
  
{% endblock %}
